{% extends "base_template.html" %}

{% block title %}<title>Categoria | Livraria Online</title>{% endblock %}

{% block content %}
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'categorias' %}">Categorias</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ categoria.nome }}</li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <h4 class="card-title">{{ categoria.nome }}</h4>
    </div>
  </div>

  {% include 'lista-livros.html' with livros=livros_list %}

{% endblock %}