<div class="row">
  {% if livros %}
      {% for livro in livros %}
        <div class="col-md-4 mb-5">
          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">{{ livro.titulo }}</h5>
              {% if not detalhe_autor %}
                <h6 class="card-subtitle mb-2 text-muted">{{ livro.autor }}</h6>
              {% endif %}
              <p class="card-text">{{ livro.resumo }}</p>
              <a href="#" class="card-link">Detalhes</a>
              {% if not detalhe_autor %}
                <a href="{% url 'detalhe-autor' pk=livro.autor.id %}" class="card-link">Autor</a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>Não encontrei nenhum livro deste autor!</p>
    {% endif %}
</div>