{% extends "base_template.html" %}

{% block title %}<title>Home | Pokemon-Store</title>{% endblock %}

{% block content %}
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Gotta Catch 'Em All!</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ all_pokemon }} Pokemons</li>
          <li class="list-group-item">{{ all_pokeball }} Pokeballs</li>
        </ul>
        <div class="card-body gradient">
          <div class="noise-image"></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
